<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>	PMA API Admin Portal </title>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <h1>PMA API Admin Portal</h1>
          <br/>
          <!--suppress HtmlUnknownTarget -->
        <form action="/admin" class="dropzone" id="myDropzone">
            <div class="dz-message needsclick">
              <label for="file-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                     viewBox="0 0 20 17">
                  <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                </svg>
                <span> Drop 1 or more files here or click to upload</span>
              </label>
            </div>
          </form>
          <div class="alert alert-danger" role="alert" id="message-bar"
               style="display:none; position:relative">
              <span style="
                position:absolute; top:1px;
                right:10px; cursor:pointer;">
                x
              </span>
              <p></p>
          </div>
          <h2>Datasets</h2>
          <table class="table table-bordered" id="datasets-table">
            <thead>
              <tr>
                <th></th>
                <th>Uploaded date</th>
                <th>Type</th>
                <th>Name</th>
                <th>Version</th>
{#                <th>Active</th>#}
                <th>Active: Staging</th>
                <th>Active: Production</th>
                {% if this_env=='development' %}
                  <th>Active: Dev</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

            <div class="button-bar">
                <a id="download-link"  href="#">
                  <button type="button" class="btn btn-outline-dark"
                          id="download-button">
                    <i class="fas fa-download"></i>
                  </button>
                </a>

                <div class="right-buttons">
                  <a id="activate-staging-link" href="#">
                    <button type="button" class="btn btn-outline-dark"
                            id="activate-staging-button">
                      Activate on staging
                    </button>
                  </a>
                  <a id="activate-production-link" href="#">
                    <button type="button" class="btn btn-outline-dark"
                            id="activate-production-button">
                      Activate on production
                    </button>
                  </a>

                  {% if this_env=='development' %}
                    <a id="activate-dataset-link" href="#">
                      <button type="button" class="btn btn-outline-dark"
                              id="activate-dataset-button">
                        Activate on dev
                      </button>
                    </a>
                  {% endif %}

{#                  <a id="activate-dataset-link" href="#">#}
{#                    <button type="button" class="btn btn-outline-dark" id="activate-dataset-button">#}
{#                      Activate Dataset#}
{#                    </button>#}
{#                  </a>#}
                  {#                TODO: temp#}
                  <a id="testing-link" href="#">
                    <button type="button" class="btn btn-outline-dark"
                            id="testing-button">
                      Test Async progress updates
                    </button>
                  </a>
                </div>
            </div>

            <div id="bootstrap-super-container"
                 style="margin-top: 20px; margin-bottom: 5px; display: none;">
              <div class="progress" id="bootstrap-bar-container">
                <div class="progress-bar progress-bar-striped"
                     id="bootstrap-bar"
                     role="progressbar"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                     style="width: 0;"></div>
              </div>
            </div>
            <div id="progress-msg" style="display: none;">...</div>

          <!--
          <hr/>
          <form class="form-manual-testing">
              <h2>Manual Testing</h2>
              <textarea rows="20" cols="80" class="form-control">
                  - Check pie chart of modern method mix, married, for Ghana R1: http://datalab.pma2020.org/?surveyCountries=PMA2013_GHR1&indicators=methodmix_marw_modernm&characteristicGroups=method_mix_modern&chartType=pie&overTime=false&lang=en
                  
                  - Check bar chart mcp all Kenya R1: http://datalab.pma2020.org/?surveyCountries=PMA2014_KER1&indicators=mcp_all&characteristicGroups=region_KE&chartType=bar&overTime=false&lang=en
                  
                  - Check line graph of contraceptive prevalance for Ethiopia R1 and R2: http://datalab.pma2020.org/?surveyCountries=PMA2014_ETR1,PMA2014_ETR2&indicators=cp_all&characteristicGroups=none&chartType=line&overTime=false&lang=en
              </textarea>
              <button class="btn btn-outline-dark" style="margin-top:10px;">Save</button>
          </form>
          -->
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
{#      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='dropzone.js') }}"></script>

      {#      TODO: testing#}
      <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>

      <!--suppress JSUnresolvedVariable -->
      <script>
          let progressMsg = $('#progress-msg');
          let bootstrapBar = $('#bootstrap-bar');

          Dropzone.autoDiscover = false;
          let myDropzone = new Dropzone("#myDropzone");
          myDropzone.on("success", function(file) {
            const messageBar = $('#message-bar');
            const response = JSON.parse(file.xhr.response);
            if (response.success) {
              messageBar.removeClass('alert-danger')
              .addClass('alert-success').show();
              messageBar.html('success!');
              location.reload();
            } else {
              let err_message = 'error occurred from server';
              if (!!response.message)
                  err_message = response.message;
              messageBar.show();
              $('#message-bar p').html(err_message);
            }
          });

          // Get data for dataset table
          // TODO: Fetch 'active' status from servers using new query
          // TODO: Represent 'processing' by text 'processing'
          const json_response = [
            {% for dataset in datasets %}
              {
                "Upload date": "{{dataset.upload_date}}",
                "Type": "{{dataset.dataset_type}}",
                "Name": "{{dataset.dataset_display_name}}",
                "Version": "{{dataset.version_number}}",
                {#"Active": {% if dataset.is_active %}true{% else %}false{% endif %},#}
                {#"Processing": {% if dataset.is_processing %}true{% else %}false{% endif %},#}
                {#"Processing: Staging" : {% if dataset.is_processing_staging %}true{% else %}false{% endif %},#}
                {#"Processing: Production" : {% if dataset.is_processing_production %}true{% else %}false{% endif %},#}
                "Active: Staging":
                  {% if this_env=='staging' %}
                    {{ 'true' if dataset.is_active else 'false' }}
                  {% else %}
                    'fetching'
                  {% endif %},
                "Active: Production":
                  {% if this_env=='production' %}
                    {{ 'true' if dataset.is_active else 'false' }}
                  {% else %}
                    'fetching'
                  {% endif %},
                {% if this_env=='development' %}
                  "Active: Dev": {{ 'true' if dataset.is_active else 'false' }}
                {% endif %}
              },
            {% endfor %}
          ];

          // Render dataset table
          {#const non_active = '<i class="fas fa-times"></i>';#}
          const non_active = '';
          $(function() {
            let tbody = '';
            json_response.forEach(element => {
              tbody += '<tr id="' + element["Name"] + '">';
              tbody += '<td class="dataset-row-checkbox"><input type="checkbox"></td>';
              tbody += '<td>'+element["Upload date"]+'</td>';
              tbody += '<td>'+element["Type"]+'</td>';
              tbody += '<td class="dataset-row-datasetName">'+element["Name"]+'</td>';
              tbody += '<td>'+element["Version"]+'</td>';
              {#tbody += '<td>'+ (element["Active"] ? '<i class="fas fa-check"></i>' : non_active)+'</td>';#}
              {#tbody += '<td>'+ element["Active: Staging"] === 'fetching' ? 'fetching' : (element["Active: Staging"] ? '<i class="fas fa-check"></i>' : non_active) + '</td>';#}
              tbody += '<td>'+ element["Active: Staging"] + '</td>';
              tbody += '<td>'+ element["Active: Production"] + '</td>';
              {#tbody += '<td>'+ (element["Active: Staging"] ? '<i class="fas fa-check"></i>' : non_active) + '</td>';#}
              {#tbody += '<td>'+ (element["Active: Production"] ? '<i class="fas fa-check"></i>' : non_active)+'</td>';                #}
              {% if this_env=='development' %}
                tbody += '<td>'+ (element["Active: Dev"] ?
                  '<i class="fas fa-check"></i>' :
                  non_active)+'</td>';
              {% endif %}
              tbody += '</tr>';
            });
            $('tbody').html(tbody);

            // Functionality for dataset control buttons
            function selectedDatasetName() {
              let selectedDatasetNames = [];


              {#TODO: for (let i = 1, row = datasetsTableElement.rows[i]; i < datasetsTableElement.rows.length i++) {#}
              const datasetsTableElement = document.getElementById('datasets-table');
              for (let i = 1, row; row = datasetsTableElement.rows[i]; i++) {
                let isSelected = false;
                for (let j = 0, cell; cell = row.children[j]; j++) {
                  if (cell.className === 'dataset-row-checkbox')
                    isSelected = cell.firstChild.checked;
                }
                for (let j = 0, cell; cell = row.children[j]; j++) {
                  if (cell.className === 'dataset-row-datasetName' && isSelected)
                    selectedDatasetNames.push(cell.innerHTML);
                }
              }

              if (selectedDatasetNames.length === 0) {
                alert('Please first select a dataset.');
                return '';
              } else if (selectedDatasetNames.length > 1) {
                alert('More than one dataset selected. Please make ' +
                  'sure that only one checkbox in the datasets table is ' +
                  'selected and try agian.');
                return '';
              } else {
                return selectedDatasetNames[0];
              }
            }

            // alert close button
            $('#message-bar span').on('click', function(){
              $('#message-bar').hide();
            });

            // Add functionality to dataset download button
            $("#download-button").bind('click', downloadDataset);
            function downloadDataset() {
              let name = selectedDatasetName();
              if (name !== '')
                $("#download-link").attr("href", "/admin?download=" + name);
            }

            // Add functionality to activate-staging button
            $("#activate-staging-button").bind('click', activateStaging);
            function activateStaging() {
              activateRequest('staging')
            }

            // Add functionality to activate-production button
            $("#activate-production-button").bind('click', activateProduction);
            function activateProduction() {
              activateRequest('production')
            }

            // Add functionality to activate-dataset-dev button
            $("#activate-dataset-button").bind('click', activateDataset);
            function activateDataset() {
              {#initTask('/activate_dataset/' + name)#}
              activateRequest('development')
            }

            function activateRequest(destinationEnv) {
              let name = selectedDatasetName();
              if (name !== '') {
                const data = {
                  destinationEnv: destinationEnv,
                  datasetName: name
                };
                initTask('/activate_dataset_request', data)
              }
            }

            function initTask(postUrl, data = {}) {
              /* Initialize an asynchronous task
              *
              * Args:
              *     postUrl (str): Destination of POST request
              *     data (obj): JSON object to pass
              */
              progressMsg.css('display', 'inherit');

              $('#bootstrap-super-container').css('display', 'inherit');
              {#bootstrapContainer.css('display', 'inherit');#}
              {#bootstrapBar.css('display', 'inherit');#}

              $.post(postUrl, data, function(data, status, request) {
                const status_url =
                  request.getResponseHeader('Content-Location');
                updateTaskProgress(status_url);
              }).fail(function() {
                alert('Unexpected error occurred while processing task.');
              });
            }

            function isEquivalent(a, b) {
              // Create arrays of property names
              const aProps = Object.getOwnPropertyNames(a);
              const bProps = Object.getOwnPropertyNames(b);

              // If number of properties is different, objs are diff
              if (aProps.length !== bProps.length)
                return false;

              for (let i = 0; i < aProps.length; i++) {
                // If values of same property are not equal, objs are diff
                const propName = aProps[i];
                if (a[propName] !== b[propName])
                  return false;
              }
              // If we made it this far, objects are considered equivalent
              return true;
            }

            let taskDataTimeSeries = [];
            const secondsBetweenFetches = 0.5;

            function updateTaskProgress(statusUrl) {
              $.getJSON(statusUrl, function(data) {
                const newData = taskDataTimeSeries.length === 0
                  || !(isEquivalent(
                    taskDataTimeSeries[taskDataTimeSeries.length - 1], data));

                const state = data.state;
                const receivedStatus =
                  state === data.status ? '' : data.status;
                const status =
                  receivedStatus ? receivedStatus
                    : state === 'PENDING' ? 'Starting up'
                    : 'RECEIVED' ? 'Task has been received'
                    : 'STARTED' ? 'Task progress has started'
                    : 'REVOKED' ? 'Task was revoked'
                    : 'RETRY' ? 'Retrying task'
                    : 'SUCCESS' ? 'Completed successfully'
                    : 'PROGRESS' ? 'Progressing'
                    : 'FAILURE' ? 'Task failed'
                    : '' ? 'An issue occurred while attempting to acquire ' +
                      'information about task progress.'
                    : 'Unknown task status';

                let current = data.current;
                let total = data.total;
                /* no-ops
                  if (total === 100 && current >= 0 && current <= 100)
                  else if (total === 1 && current <= 1)
                  else if (total !== 1 && total !== 100) */
                if (total === 100 && current <= 1) {
                  current = current * 100;
                  console.log('new');
                  console.log(current);
                } else if (total === 1 && current >= 0 && current <= 100)
                  current = current / 100;
                else if (!current || current === 0)
                  current = 0;

                const pctDecimal = parseInt(100 * current / total);
                const percentStr = pctDecimal + '%';

                if (newData) {
                  taskDataTimeSeries.push(data);
                  console.log('Progress update: ');
                  console.log(data);
                }

                progressMsg.text(status);
                bootstrapBar.text(percentStr);
                bootstrapBar.css('width', percentStr);

                setTimeout(function() {
                  updateTaskProgress(statusUrl);
                }, secondsBetweenFetches * 1000);
              });
            }

            // TODO - temp
            $("#testing-button").bind('click', testing);
            function testing() {
              initTask('/longtask')
            }

          });
      </script>
  </body>
</html>