<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PMA API Admin Portal</title>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>PMA API Admin Portal</h1>
      <br/>

      {# Dropzone #}
      <!--suppress HtmlUnknownTarget -->
      <form action="/admin" class="dropzone" id="myDropzone">
        <div class="dz-message needsclick">
          <label for="file-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
              viewBox="0 0 20 17">
              <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
            </svg>
            <span> Click or drag here to upload new dataset</span>
          </label>
        </div>
      </form>
      <div class="alert alert-danger" role="alert" id="dropzone-message-bar"
        style="display:none; position:relative">
        <span class="close-parent-button"
          style="position:absolute; top:1px; right:10px; cursor:pointer;">
          x
        </span>
        <p style="margin-bottom: 0"></p>
      </div>

      {# Dataset table #}
      {% include 'components/dataset_table.html' %}

      {# TODO: Buttons; temp, testing #}
      <div class="button-bar">
{#              <a id="download-link"  href="#">#}
{#                <button type="button" class="btn btn-outline-dark"#}
{#                        id="download-button">#}
{#                  <i class="fas fa-download"></i>#}
{#                </button>#}
{#              </a>#}

        <div class="right-buttons">
{#                <a id="activate-staging-link" href="#">#}
{#                  <button type="button" class="btn btn-outline-dark"#}
{#                          id="activate-staging-button">#}
{#                    Activate#}
{#                  </button>#}
{#                </a>#}
{#                <a id="activate-staging-link" href="#">#}
{#                  <button type="button" class="btn btn-outline-dark"#}
{#                          id="activate-staging-button">#}
{#                    Activate on staging#}
{#                  </button>#}
{#                </a>#}
{#                <a id="activate-production-link" href="#">#}
{#                  <button type="button" class="btn btn-outline-dark"#}
{#                          id="activate-production-button">#}
{#                    Activate on production#}
{#                  </button>#}
{#                </a>#}
{##}
{#                {% if this_env=='development' %}#}
{#                  <a id="activate-dataset-link" href="#">#}
{#                    <button type="button" class="btn btn-outline-dark"#}
{#                            id="activate-dataset-button">#}
{#                      Activate on dev#}
{#                    </button>#}
{#                  </a>#}
{#                {% endif %}#}

{#                  <a id="activate-dataset-link" href="#">#}
{#                    <button type="button" class="btn btn-outline-dark" id="activate-dataset-button">#}
{#                      Activate Dataset#}
{#                    </button>#}
{#                  </a>#}
          {#                TODO: temp#}
          <a id="testing-link" href="#">
            <button type="button" class="btn btn-outline-dark"
                    id="testing-button">
              Test async progress updates
            </button>
          </a>
        </div>
      </div>

      {# Progress bar #}
      <div id="progress-updates-container"
           style="margin-top: 20px; margin-bottom: 5px; display: none;">

        <div class="progress" id="progress-bar-container">
          <div class="progress-bar progress-bar-striped"
             id="progress-bar"
             role="progressbar"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
             style="width: 0;"></div>
        </div>

        <div id="progress-msg"></div>
      </div>

      <div id="progress-log">
        {# Progress message container: Info #}
        <div class="alert alert-primary"  {# primary #}
          id="progress-log-info-bar"  {# info #}
          role="alert"
          style="position:relative; margin-top: 15px; display: none;">
          <span class="close-parent-button"
            style="position:absolute; top:1px; right:10px;
            cursor:pointer;">
            x
          </span>
          <p id="progress-log-info-msg"  {# info #}
             style="margin: 0 0 0 0;"></p>
        </div>
        {# Progress message container: Warnings #}
        <div class="alert alert-warning"  {# warning #}
          id="progress-log-warning-bar"  {# warning #}
          role="alert"
          style="position:relative; margin-top: 15px; display: none;">
          <span class="close-parent-button"
            style="position:absolute; top:1px; right:10px;
            cursor:pointer;">
            x
          </span>
          <p id="progress-log-warning-msg"  {# warning #}
             style="margin: 0 0 0 0;"></p>
        </div>
        {# Progress message container: Success #}
        <div class="alert alert-success"  {# success #}
          id="progress-log-success-bar"  {# success #}
          role="alert"
          style="position:relative; margin-top: 15px; display: none;">
          <span class="close-parent-button"
            style="position:absolute; top:1px; right:10px;
            cursor:pointer;">
            x
          </span>
          <p id="progress-log-success-msg"  {# success #}
             style="margin: 0 0 0 0;"></p>
        </div>
        {# Progress message container: Errors #}
        <div class="alert alert-danger"  {# danger #}
          id="progress-log-error-bar"  {# error #}
          role="alert"
          style="position:relative; margin-top: 15px; display: none;">
          <span class="close-parent-button"
            style="position:absolute; top:1px; right:10px;
            cursor:pointer;">
            x
          </span>
          <p id="progress-log-error-msg"  {# error #}
             style="margin: 0 0 0 0;"></p>
        </div>
      </div>

      {# Notifications #}
      <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              {% set excluded = ['You have signed in successfully.', ] %}
              {% if message not in excluded %}
                <div class="alert alert-{{ category }} flash-message"
                  id="flash-message-{{ loop.index }}"
                  role="alert"
                  style="position:relative; margin-top: 15px">
                  <span class="close-parent-button"
                    style="position:absolute; top:1px; right:10px;
                    cursor:pointer;">
                    x
                  </span>
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <!--
      <hr/>
      <form class="form-manual-testing">
          <h2>Manual Testing</h2>
          <textarea rows="20" cols="80" class="form-control">
              - Check pie chart of modern method mix, married, for Ghana R1: http://datalab.pma2020.org/?surveyCountries=PMA2013_GHR1&indicators=methodmix_marw_modernm&characteristicGroups=method_mix_modern&chartType=pie&overTime=false&lang=en

              - Check bar chart mcp all Kenya R1: http://datalab.pma2020.org/?surveyCountries=PMA2014_KER1&indicators=mcp_all&characteristicGroups=region_KE&chartType=bar&overTime=false&lang=en

              - Check line graph of contraceptive prevalance for Ethiopia R1 and R2: http://datalab.pma2020.org/?surveyCountries=PMA2014_ETR1,PMA2014_ETR2&indicators=cp_all&characteristicGroups=none&chartType=line&overTime=false&lang=en
          </textarea>
          <button class="btn btn-outline-dark" style="margin-top:10px;">Save</button>
      </form>
      -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
{#      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='dropzone.js') }}"></script>

    {#      TODO: testing; for longtask: can remove after finished#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>

    <!--suppress JSUnresolvedVariable -->
    <script>
      const unexpectedTaskErrMsg =
        'Unexpected error occurred while processing task.';
      let progressUpdatesContainer = $('#progress-updates-container');
      let progressMsg = $('#progress-msg');
      let progressBar = $('#progress-bar');
      const progressLogInfoBar = $('#progress-log-info-bar');
      const progressLogInfoBarMsg = $('#progress-log-info-msg');
      const progressLogWarningBar = $('#progress-log-warning-bar');
      const progressLogWarningBarMsg = $('#progress-log-warning-msg');
      const progressLogSuccessBar = $('#progress-log-success-bar');
      const progressLogSuccessBarMsg = $('#progress-log-success-msg');
      const progressLogErrBar = $('#progress-log-error-bar');
      const progressLogErrBarMsg = $('#progress-log-error-msg');

      Dropzone.autoDiscover = false;
      let myDropzone = new Dropzone("#myDropzone");
      myDropzone.on("success", function(file) {
        const messageBar = $('#dropzone-message-bar');
        const response = JSON.parse(file.xhr.response);
        if (response.success) {
          messageBar.removeClass('alert-danger')
          .addClass('alert-success').show();
          messageBar.html('Success!');
          location.reload();
        } else {
          let err_message = 'Error: Unknown server error.';
          if (!!response.message)
              err_message = response.message;
          messageBar.show();
          $('#dropzone-message-bar p').html(err_message);
        }
      });

      // Get data for dataset table
      // TODO: Fetch 'active' status from servers using new query
      // TODO: Represent 'processing' by text 'processing'
      {#const json_response = [#}
      {#  {% for dataset in datasets %}#}
      {#    {#}
      {#      "ID": {{ dataset.ID }},#}
      {#      "Upload date": "{{dataset.upload_date}}",#}
      {#      "Type": "{{dataset.dataset_type}}",#}
      {#      "Name": "{{dataset.dataset_display_name}}",#}
      {#      "Version": "{{dataset.version_number}}",#}
      {#      "Active": {% if dataset.active %}true{% else %}false{% endif %},#}
      {#      "Processing": {% if dataset.processing %}true{% else %}false{% endif %},#}
      {#      "Processing: Staging" : {% if dataset.processing_staging %}true{% else %}false{% endif %},#}
      {#      "Processing: Production" : {% if dataset.processing_production %}true{% else %}false{% endif %},#}
      {#      "Active: Staging":#}
      {#        {% if this_env=='staging' %}#}
      {#          {{ 'true' if dataset.active else 'false' }}#}
      {#        {% else %}#}
      {#          'fetching'#}
      {#        {% endif %},#}
      {#      "Active: Production":#}
      {#        {% if this_env=='production' %}#}
      {#          {{ 'true' if dataset.active else 'false' }}#}
      {#        {% else %}#}
      {#          'fetching'#}
      {#        {% endif %},#}
      {#      {% if this_env=='development' %}#}
      {#        "Active: Dev":{{ 'true' if dataset.active else 'false' }}#}
      {#      {% endif %}#}
      {#    },#}
      {#  {% endfor %}#}
      {#];#}

      // Render dataset table
      {#const non_active = '<i class="fas fa-times"></i>';#}
      {#const non_active = '';#}
      $(function() {
        //let tbody = '';
        //json_response.forEach(element => {
        //  tbody += '<tr id="' + element["ID"] + '">';
        //  tbody += '<td class="dataset-row-checkbox"><input type="checkbox"></td>';
        //  tbody += '<td class="dataset-row-ID">'+element["ID"]+'</td>';
        //  tbody += '<td>'+element["Upload date"]+'</td>';
        //  tbody += '<td>'+element["Type"]+'</td>';
        //  tbody += '<td>'+element["Name"]+'</td>';
        //  tbody += '<td>'+element["Version"]+'</td>';
        //  tbody += '<td>'+ (element["Active"] ? '<i class="fas fa-check"></i>' : non_active)+'</td>';
        //  tbody += '<td>'+ element["Active: Staging"] === 'fetching' ? 'fetching' : (element["Active: Staging"] ? '<i class="fas fa-check"></i>' : non_active) + '</td>';
        //  tbody += '<td>'+ element["Active: Staging"] + '</td>';
        //  tbody += '<td>'+ element["Active: Production"] + '</td>';
        //  tbody += '<td>'+ (element["Active: Staging"] ? '<i class="fas fa-check"></i>' : non_active) + '</td>';
        //  tbody += '<td>'+ (element["Active: Production"] ? '<i class="fas fa-check"></i>' : non_active)+'</td>';
        {#//  {% if this_env=='development' %}#}
        //    tbody += '<td>'+ (element["Active: Dev"] ?
        //      '<i class="fas fa-check"></i>' :
        //      non_active)+'</td>';
        {#//  {% endif %}#}
        //  tbody += '</tr>';
        //});
        //$('tbody').html(tbody);

        // Functionality for dataset control buttons
        {#function selectedDatasetID() {#}
        {#  let selectedDatasetIDs = [];#}
        {##}
        {##}
          {#TODO: for (let i = 1, row = datasetsTableElement.rows[i]; i < datasetsTableElement.rows.length i++) {#}
        {#  const datasetsTableElement = document.getElementById('datasets-table');#}
        {#  for (let i = 1, row; row = datasetsTableElement.rows[i]; i++) {#}
        {#    let isSelected = false;#}
        {#    for (let j = 0, cell; cell = row.children[j]; j++) {#}
        {#      if (cell.className === 'dataset-row-checkbox')#}
        {#        isSelected = cell.firstChild.checked;#}
        {#    }#}
        {#    for (let j = 0, cell; cell = row.children[j]; j++) {#}
        {#      if (cell.className === 'dataset-row-ID' && isSelected)#}
        {#        selectedDatasetIDs.push(cell.innerHTML);#}
        {#    }#}
        {#  }#}
        {##}
        {#  if (selectedDatasetIDs.length === 0) {#}
        {#    alert('Please first select a dataset.');#}
        {#    return '';#}
        {#  } else if (selectedDatasetIDs.length > 1) {#}
        {#    alert('More than one dataset selected. Please make ' +#}
        {#      'sure that only one checkbox in the datasets table is ' +#}
        {#      'selected and try agian.');#}
        {#    return '';#}
        {#  } else {#}
        {#    return selectedDatasetIDs[0];#}
        {#  }#}
        {#//}#}

        // Close buttons
        $('.close-parent-button').on('click', function(e){
          const elementId = e.currentTarget.parentNode.getAttribute('id');
          $('#'+elementId).hide();
        });

        //$("#download-button").bind('click', downloadDataset);
        //function downloadDataset() {
        //  let name = selectedDatasetID();
        //  if (name !== '')
        //    $("#download-link").attr("href", "/admin?download=" + name);
        //}
        $(".download-button").bind('click', (e) => {
          const elementIdPrefix = 'download-button-';
          const elementId = e.currentTarget.getAttribute('id');
          const datasetId = elementId.substring(elementIdPrefix.length);
          $("#download-link-"+datasetId).attr("href", "/admin?download="+datasetId);
        });
        $(".delete-button").bind('click', (e) => {
          const elementIdPrefix = 'delete-button-';
          const elementId = e.currentTarget.getAttribute('id');
          const datasetId = elementId.substring(elementIdPrefix.length);
          $("#delete-link-"+datasetId).attr("href", "/admin?delete="+datasetId);
        });
        //$("#activate-staging-button").bind('click', activateStaging);
        //function activateStaging() {
        //  activateRequest();
        //}
        //$("#activate-production-button").bind('click', activateProduction);
        //function activateProduction() {
        //  activateRequest('production');
        //}
        //$("#activate-dataset-button").bind('click', activateDataset);
        //function activateDataset() {
        //  initTask('/activate_dataset/' + name);
        //  activateRequest('development');
        //}
        //function activateRequest(destinationEnv) {
        //  let id = selectedDatasetID();
        //  if (id !== '') {
        //    const data = {
        //      destinationEnv: destinationEnv,
        //      datasetID: id
        //    };
        //    initTask('/activate_dataset_request', data)
        //  }
        //}

        {# A. use jquery to find the table. find all the rows. iterate through rows, get all ids. for every id, bind event#}
        {# B. bind event to class; from event get id #}
        $(".activate-button").bind('click', (e) => {
          const elementIdPrefix = 'activate-button-';
          const elementId = e.currentTarget.getAttribute('id');
          const datasetId = elementId.substring(elementIdPrefix.length);
          initTask('/activate_dataset', {datasetID: datasetId})
        });

        function initTask(postUrl, data = {}) {
          /* Initialize an asynchronous task
          *
          * Args:
          *     postUrl (str): Destination of POST request
          *     data (obj): JSON object to pass
          */
          const startMsg2 = 'Starting task (awaiting server response)...';
          const startMsg = 'Starting task...';
          const err = '\'Error when creating task: \'';
          // Show UI
          progressUpdatesContainer.css('display', 'inherit');
          // Update progress
          progressMsg.text(startMsg);
          console.log(startMsg);

          $.post(postUrl, data, function(data, status, request) {
            const status_url = request.getResponseHeader('Content-Location');
            progressMsg.text(startMsg2);
            console.log(startMsg2);
            updateTaskProgress(status_url);
          }).fail(function(e) {
            const error = e ? e : unexpectedTaskErrMsg;
            alert(err + String(error));  // to-do: flash notif instead
            console.log(err + String(error));
            progressUpdatesContainer.css('display', 'none');
          });
        }


        // helper function: Sleep
        function sleep(ms) {
        // - useful in tandem w/ alerts, e.g.
        //  $.getJSON(statusUrl, async function (data) {
        //  ...
        //  await sleep(100); alert(msg);
        // - useful for retries
          return new Promise(resolve => setTimeout(resolve, ms));
        }


        // helper function: isEquivalent
        function isEquivalent(a, b) {  // a=obj, b=obj
          // Create arrays of property names
          const aProps = Object.getOwnPropertyNames(a);
          const bProps = Object.getOwnPropertyNames(b);

          // If number of properties is different, objs are diff
          if (aProps.length !== bProps.length)
            return false;

          for (let i = 0; i < aProps.length; i++) {
            // If values of same property are not equal, objs are diff
            const propName = aProps[i];
            if (a[propName] !== b[propName])
              return false;
          }
          // If we made it this far, objects are considered equivalent
          return true;
        }

        function exitTask(report) {  // report=str
          // Hide progress bar/updates
          progressUpdatesContainer.css('display', 'none');
          // Report result
          console.log(report);
          progressLogErrBarMsg.text(report);
          progressLogErrBar.css('display', 'inherit');
        }

        function updateTaskProgress(statusUrl, params) {
          // Permanent settings
          const maxRetryAttempts = 15;
          const secondsBetweenFetches = 0.5;
          // Iteration variables
          const thisAttemptNum = params ? params.thisAttemptNum : 1;  // int
          let taskName = params ? params.taskName : '';  // str
          let taskDataTimeSeries = params ? params.taskDataTimeSeries : [];  // array

          // Reset progress-related UI elements
          if (thisAttemptNum === 1) {
            progressUpdatesContainer.css('display', 'inherit');
            progressLogInfoBar.css('display', 'none');
            progressLogInfoBarMsg.text('');
            progressLogWarningBar.css('display', 'none');
            progressLogWarningBarMsg.text('');
            progressLogSuccessBar.css('display', 'none');
            progressLogSuccessBarMsg.text('');
            progressLogErrBar.css('display', 'none');
            progressLogErrBarMsg.text('');
          }

          $.getJSON(statusUrl, function(data) {  // obj
            // 0.1 Set some helper variables
            const receivedStatus = data.state === data.status ? '' : data.status;  // str
            const completed = data.state === 'FAILURE' || data.state === 'SUCCESS';  // bool

            // 1. New data available? Make variable updates.
            const lastDataReceived =
              taskDataTimeSeries[taskDataTimeSeries.length - 1];  // obj
            const equiv = !lastDataReceived ? false :
              isEquivalent(lastDataReceived, data);  // bool
            const newDataHasChanged = taskDataTimeSeries.length === 0 || !(equiv);  // bool
            taskName = data.hasOwnProperty('name') ? data.name : taskName;

            // 2. Update view/history/log
            if (newDataHasChanged === true) {
              // 2.1. Store data update in history
              taskDataTimeSeries.push(data);

              // 2.2. Format data for presentation to view
              // 2.2.1. Status
              const shortStatusMsg =
                receivedStatus ? receivedStatus
                  : data.state === 'PENDING' ? 'Starting up'
                  : 'RECEIVED' ? 'Task has been received'
                  : 'STARTED' ? 'Task progress has started'
                  : 'REVOKED' ? 'Task was revoked'
                  : 'RETRY' ? 'Retrying task'
                  : 'PROGRESS' ? 'Progressing'
                  : 'SUCCESS' ? 'Completed successfully'
                  : 'FAILURE' ? 'Task failed'
                  : '' ? 'An issue occurred while attempting to acquire ' +
                    'information about task progress.'
                  : 'Unknown task status';


              const statusMsg = taskName ? taskName + ': ' + shortStatusMsg
                : shortStatusMsg;

              // 2.2.2. Progress percent
              let current = data.current;  // float
              let total = data.total;  // float
              /* no-ops
                if (total === 100 && current >= 0 && current <= 100)
                else if (total === 1 && current <= 1)
                else if (total !== 1 && total !== 100) */
              if (total === 100 && current <= 1) {
                current = current * 100;
              } else if (total === 1 && current > 1 && current <= 100)
                current = current / 100;
              else if (!current || current === 0)
                current = 0;

              const pctDecimal = 100 * (current / total).toPrecision(1);  // float
              const percentStr = String(pctDecimal) + '%';  // str

              // 2.3. Update view
              progressMsg.text(statusMsg);
              progressBar.text(percentStr);
              progressBar.css('width', percentStr);
              // 2.4 Print to console
              console.log('Progress update: ');
              console.log(data);
            }

            // 3. Exit or continue
            if (data.state === 'FAILURE') {
              const report = receivedStatus ? receivedStatus
                : unexpectedTaskErrMsg;
              exitTask(report);
            } else if (!completed)
              setTimeout(function () {
                const persistentAttemptData = {
                  taskName: taskName,  // str
                  taskDataTimeSeries: taskDataTimeSeries,  // array
                  thisAttemptNum: thisAttemptNum  // int
                };
                updateTaskProgress(statusUrl, persistentAttemptData);
              }, secondsBetweenFetches * 1000);
          })
          .fail(async function (jqxhr, textStatus, error) {
            // Generate report
            const errContents = textStatus === 'error' ? error
              : textStatus + ', ' + error;
            const errContentsMsg = error === '' ? '' : ': ' + errContents;
            const taskNameInclude = !taskName ? ''
              : ' for \'' + taskName + '\'';
            const report = 'Error when requesting task status' +
              taskNameInclude + errContentsMsg;

            if (!errContentsMsg && (thisAttemptNum < maxRetryAttempts)) {
              console.log('Failed to fetch data from server. Trying again; ' +
                'attempt ' + thisAttemptNum + ' of ' + maxRetryAttempts + '.');
              const persistentAttemptData = {
                taskName: taskName,  // str
                taskDataTimeSeries: taskDataTimeSeries,  // array
                thisAttemptNum: thisAttemptNum+1  // int
              };
              await sleep(secondsBetweenFetches * 1000);  // int (milliseconds)
              updateTaskProgress(statusUrl, persistentAttemptData)
            } else
              exitTask(report);
          });
        }

        // TODO - temp
        $("#testing-button").bind('click', testing);
        function testing() {
          initTask('/longtask')
        }

      });
    </script>
  </body>
</html>