body {
    padding: 50px;
}
td {
    vertical-align: middle;
}
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    width: 400px;
    padding: 30px;
    margin-bottom: 20px;
}
.button-bar {
    display: flex;
    justify-content: space-between;
}
.right-buttons {
    display: flex;
}
.right-buttons button {
    margin-left: 5px;
}
